@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.main-navbar .ant-menu-item-selected {
  background-color: transparent !important;
  color: #42210c !important;
}

.ant-drawer-mask {
  --tw-backdrop-blur: blur(5px) !important;
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia) !important;
}

.banner-shadow {
  text-shadow: 3px 3px wheat;
}
